.navbar-brand span {
  color: #f00;
}

.container h1 {
  color: #66c2ff;
}

.container .lightred {
  color: #ff3333;
}

.charizard {
  color: #0000e6;
}

.litten {
  color: #3399ff;
}

.arceus {
  color: #b3b3b3;
}

